@page "/addorderweb"
@using OrderFlowStudio.Frontend.Data;

@inject HttpClient http;


<h1>Adding order</h1>

<!-- Add form -->
<div class="container">
<div class="row align-items-center">
    <div class="col-md-auto">
        <label>Order number:</label> <br>
        <label>Quantity:</label> <br>
        <label>Part number:</label> <br>
    </div>
    <div class="col-sm">
        <input class="form-control" type="text" placeholder="Order Nb:" aria-label="Search" @bind="ordernb">
        <input class="form-control" type="text" placeholder="Quantity:" aria-label="Search" @bind="Quantity">
        <input class="form-control" type="text" placeholder="Material Nb:" aria-label="Search" @bind="part">
    </div>
</div>
</div>
<button class = "btn btn-dark" @onclick="CreateOrder">Create order</button>


@code {
    public Order order = new Order() { 
        productDto = new Product(), 
        raportDto = new Raport() 
        };

    int ordernb;
    int Quantity;
    string part;

    
    private async Task CreateOrder()
    {
        order.OrderNumber = ordernb;
        order.Quantity = Quantity;
        order.productDto.PartNumber = part;
        order.productDto.ProductDescription = "Steering Unit";

        var response = await http.PostJsonAsync<Order>("http://localhost:6001/api/addorder", order);
    }



}