@page "/gatemasking"
@using OrderFlowStudio.Frontend.Data;
@inject HttpClient http;

<!-- 
    ToDo: 
    - list all order with status '15' (not started) <- done 
    - add button that change status to masking
    - update order status in database 
-->

<h1>Select order to work on:</h1>

<div class="border-bottom border-white shadow rounded-lg" style="backgoround-color: #ededed">
    <table class="table table-striped boarder table-hover">
        <tr>
            <th>Order nb</th>
            <th>Quantity</th>
            <th>Part nb</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    <tbody>
        @foreach(var order in @OrdersForMaskingList) {
            <td>@order.OrderNumber</td>
            <td>@order.Quantity</td>
            <td>@order.productDto.PartNumber</td>
            <td>@order.productDto.ProductDescription</td>
            <td><button class="btn btn-secondary">Masking</button></td>
            
        }
    </tbody>

    </table>

</div>



@code {
    List<Order> OrdersForMaskingList = new List<Order>();

    protected override async Task OnInitializedAsync()
    {
        // ToDo: load orders registered at area but without status masking in progress
        OrdersForMaskingList = await http.GetJsonAsync<List<Order>>("http://localhost:6001/api/order/maskingmodule");
    }
}